table th, td {
    border: 1px solid;
    /* width: 90%; */
    /* height: 90%; */
}
th {
    background-color: black;
    color: white;
    padding: 5px;
}
th, td {
    padding: 2px
}
table {
    border-collapse: collapse;
}
td {
    font-size: x-small;
}
tr:nth-child(even) {
    background-color: lightgrey;
} 
#subheader th
{
    background-color: black;
    color: white;
    font-size: x-large;
    padding: 5px;
}